.headerContainer {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 8vh;
    background-color: rgba(255, 83, 83, 0.16);

}

.buttonContainer {
    width: 50%;
    display: flex;
    justify-content: flex-end;
    margin-right: 25px;
}

.searchBarContainer {
    width: 50%;
    display: flex;
    margin-left: 25px;
}