body {
    box-sizing: border-box;
    margin: 0;
}

.sidebar {
    background-color: #f5fafa;
    width: 5vw;
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    position: relative;
    float: left;
    box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.6);
    transition: width 0.3s ease, box-shadow 0.3s ease;
}
.sidebar-icon {
    max-width: 80%;
    margin: 10px;
}

.sidebar-logo {
    margin-top: 20px;
    color: #17224d;
    text-shadow: 2px 4px 6px rgba(0, 0, 0, 0.4);
}